:root{
	--color-negro: #000000;
	--color-azulc: #68C4D6;
	--color-azulo: #255C62;
	--color-blanco: #FFFFFF;
	--color-gris: #919191;
}

header{
	background-color: var(--color-blanco);
}

#header-top{
	background-color: var(--color-azulc);
	padding: 10px;
}

.list-top a{
	color: var(--color-blanco);
}


#ctact{
	color: var(--color-blanco);
}

#ctacto{
	color: var(--color-blanco);
}

#logo{
	margin-left: 80px;
}

#navbarNav{
	margin-left: 200px;
}
.nav-link{
	background-color: var(--color-azulc);
	border-radius: 5%;
	text-indent: 1px;
	padding-right: 3px;
	font-size: 20px;
	text-align: center;
}

footer{
	background-color: var(--color-azulc);
	color: var(--color-blanco);
	padding-top: 10px;
}

#contact{
	background-color: var(--color-blanco);
	padding-top: 30px;
	padding-bottom: 30px;
}

#contact h2{
	color: var(--color-azulo);
	text-align: center;
}

#contact h4{
	font-weight: 20;
	text-align: justify;
	padding-bottom: 15px;
}

#button{
	background-color: var(--color-azulc);
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 30px;
}